@keyframes float
	0% 
		transform: translatey(0px)
	50% 
		transform: translatey(-20px)
	100% 
		transform: translatey(0px)

@keyframes fadeInDown
    from
        opacity: 0
        transform: translate3d(0, -100%, 0)
    to
        opacity: 1
        transform: translate3d(0, 0, 0)

.fadeInDown
    animation-name: fadeInDown

@keyframes fadeInLeft
    from
        opacity: 0
        transform: translate3d(-100%, 0, 0)

    to
        opacity: 1
        transform: translate3d(0, 0, 0)


.fadeInLeft
    animation-name: fadeInLeft

@keyframes fadeInRight
    from
        opacity: 0
        transform: translate3d(100%, 0, 0)

    to
        opacity: 1
        transform: translate3d(0, 0, 0)

.fadeInRight
     animation-name: fadeInRight

@keyframes fadeIn
    from
        opacity: 0
    to
        opacity: 1

.fadeIn
    animation-name: fadeIn