$cherry-color: #FF7663
$cherry2-color: #FD6B59
$cherry3-color: #FE8675

$active-button: #FA4767
$grey-color: #C4C4C4
$grey2-color: #D8D8D8
$grey5-color: #7C787A
$grey6-color: #B79DA8

$dark-color: #44353B
$dark-color: #000000
$white-color: #FFFFFF
