<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title siteTruth
        link(href="./css/styles.min.css", rel="stylesheet")
    body

        section.s1
            .col
                .search
                    input(placeholder="Начните вводить название сайта")
                ul.search-list
                    li
                        span.num 01
                        span.title apple.com
                        span.like 9 827
                        span.dislike 1 634
                        span.star 98/100
                    li
                        span.num 02
                        span.title amazone.com
                        span.like 325
                        span.dislike 74
                        span.star 98/100
                    li
                        span.num 03
                        span.title amazone.comamazone.com
                        span.like 831
                        span.dislike 1 634
                        span.star 98/100
                    li
                        span.num 04
                        span.title vk.com
                        span.like 9 827
                        span.dislike 58
                        span.star 98/100
                    li
                        span.num 05
                        span.title apple.com
                        span.like 1 237
                        span.dislike 765
                        span.star 98/100
                
                h2 Возможность комментировать все 
                h3 что есть в интернете 
                a(href="#").button.button-primary Установить
                a(href="#").button.button-watch Смотреть видео
            .col
                ul.lang
                    li.active RU
                    li EN
                    li UA
                a(href="#").button.button-white-outline Вход
                a(href="#").button.button-white Регистрация
        section
        section
        section
        section
        section
        section
        section
        section
        section
        section
        section
        section

        script(src="https://code.jquery.com/jquery-3.4.1.min.js", integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", crossorigin="anonymous")
        script(src="./js/main.min.js")
