<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title siteTruth
        link(href="./css/styles.min.css", rel="stylesheet")
    body

        section.s1
            .col
                .search
                    input(placeholder="Начните вводить название сайта")
                ul.search-list
                    li
                        span.num 01
                        span.title apple.com
                        span.like 9 827
                        span.dislike 1 634
                        span.star 98/100
                    li
                        span.num 02
                        span.title amazone.com
                        span.like 325
                        span.dislike 74
                        span.star 98/100
                    li
                        span.num 03
                        span.title amazone.comamazone.com
                        span.like 831
                        span.dislike 1 634
                        span.star 98/100
                    li
                        span.num 04
                        span.title vk.com
                        span.like 9 827
                        span.dislike 58
                        span.star 98/100
                    li
                        span.num 05
                        span.title apple.com
                        span.like 1 237
                        span.dislike 765
                        span.star 98/100
                
                h2 Возможность комментировать все 
                h3 что есть в интернете 
                a(href="#").button.button-primary Установить
                a(href="#").button.button-watch Смотреть видео
                span.union.left
                span.union.right
            .col
                ul.lang
                    li.active RU
                    li EN
                    li UA
                a(href="#").button.button-white-outline Вход
                a(href="#").button.button-white Регистрация
        section.s2
            .row
                img(src="./img/extension.png", alt="smile").extension
                img(src="./img/icons/smile.svg", alt="smile").smile
                img(src="./img/extension.png", alt="smile").extension
            .row
                .col
                    h2 Мы принимаем отзывы более чем <br> c <span>1, 022 954 603</span> сайтов
                    a(href="#") Установить
                .col
                    ul
                        li торговые площадки (конкретные аккаунты, товары <br> и сайты в целом)
                        li социальные сети (аккаунты, паблики, группы)
                        li интернет-магазины (конкретные товары их группы и магазины в целом)
                        li всевозможные компании и все остальные сайты, все у чего <br> есть ссылка
            .row
                p sliper with logos
        section.s3
        section.s4
        section.s5
        section.s6
        section.s7
        section.s8
        section.s9
        section.s10
        section.s11
        section.s12
        section.s13

        script(src="https://code.jquery.com/jquery-3.4.1.min.js", integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", crossorigin="anonymous")
        script(src="./js/main.min.js")
