doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=1200, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title siteTruth
        link(href="./css/styles.min.css", rel="stylesheet")
        link(href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css", rel="stylesheet")
    body

        //-
        section.section1
            .col
                .search
                    input(placeholder="Начните вводить название сайта")
                ul.search-list
                    li
                        span.num 01
                        span.title apple.com
                        span.like 9 827
                        span.dislike 1 634
                        span.star 98/100
                    li
                        span.num 02
                        span.title amazone.com
                        span.like 325
                        span.dislike 74
                        span.star 98/100
                    li
                        span.num 03
                        span.title amazone.comamazone.com
                        span.like 831
                        span.dislike 1 634
                        span.star 98/100
                    li
                        span.num 04
                        span.title vk.com
                        span.like 9 827
                        span.dislike 58
                        span.star 98/100
                    li
                        span.num 05
                        span.title apple.com
                        span.like 1 237
                        span.dislike 765
                        span.star 98/100
                
                h2 Возможность комментировать все 
                h3 что есть в интернете 
                a(href="#").button.button-primary Установить
                a(href="#").button.button-watch Смотреть видео
                span.union.left
                span.union.right
            .col
                ul.lang
                    li.active RU
                    li EN
                    li UA 

        section.section2.bg-primary
            .row
                img(src="./img/extension.png", alt="smile").extension
                img(src="./img/icons/smile.svg", alt="smile").smile
                img(src="./img/extension.png", alt="smile").extension
            .row
                .col
                    h2 Мы принимаем отзывы более чем #[br] c #[span#num ] сайтов
                    a(href="#") Установить
                .col
                    ul
                        li.post торговые площадки (конкретные аккаунты, товары <br> и сайты в  целом)
                        li.post социальные сети (аккаунты, паблики, группы)
                        li.post интернет-магазины (конкретные товары их группы и магазины в целом)
                        li.post всевозможные компании и все остальные сайты, все у чего <br> есть ссылка
            .row.slider-logos
                .slide
                    object(type="image/svg+xml" data="./img/logos/vk.svg")
                    object(type="image/svg+xml" data="./img/logos/facebook.svg")
                    object(type="image/svg+xml" data="./img/logos/youtube.svg")
                    object(type="image/svg+xml" data="./img/logos/amazon.svg")
                    object(type="image/svg+xml" data="./img/logos/prom.svg")
                    object(type="image/svg+xml" data="./img/logos/olx.svg")
                    object(type="image/svg+xml" data="./img/logos/aliexpress.svg")
                .slide
                    object(type="image/svg+xml" data="./img/logos/vk.svg")
                    object(type="image/svg+xml" data="./img/logos/facebook.svg")
                    object(type="image/svg+xml" data="./img/logos/youtube.svg")
                    object(type="image/svg+xml" data="./img/logos/amazon.svg")
                    object(type="image/svg+xml" data="./img/logos/prom.svg")
                    object(type="image/svg+xml" data="./img/logos/olx.svg")
                    object(type="image/svg+xml" data="./img/logos/aliexpress.svg")
        section.section3.full-section
            .big-slider
                .slide
                    .row
                        h3 УДОБНО
                        h2 О расширении
                    .row
                        .col
                            h3 #[span Удобно.] #[br] Не нужно ничего искать 
                            p Отзывы прямо в расширении браузера.
                            .advantage
                                .box
                                    img(src="./img/icons/sitemap.svg")
                                span Отзывы о любом сайте
                            .advantage
                                .box
                                    img(src="./img/icons/page.svg")
                                span Отзывы о любой странице
                        .col
                            img.screen(src="./img/screen.png", alt="screen")
                            span.union.left
                            span.union.right
                .slide
                    .row
                        h3 НАДЕЖНО
                        h2 О расширении
                    .row
                        .col
                            h3 Невозможно скрыться
                            p Не важно вы хотите оставить отзыв о сайте, о его пользователе или определенной странице, если у этого есть ссылка - вы можете оставить отзыв в нашем расширении.
                            a(href="#").button.button-primary Установить
                            a(href="#").button.button-watch Смотреть видео
                        .col
                            img.screen(src="./img/man-server.svg", alt="man-server")
                .slide
                    .row
                        h3 УНИКАЛЬНО
                        h2 О расширении
                    .row
                        .col
                            h3 #[span Таких] #[br] продуктов больше нет на рынке. 
                            p Отзывы прямо в расширении браузера.
                            .advantage
                                .box
                                    img(src="./img/icons/sitemap.svg")
                                span Отзывы о любом сайте
                            .advantage
                                .box
                                    img(src="./img/icons/page.svg")
                                span Отзывы о любой странице
                        .col
                            img.screen(src="./img/uniquely.svg", alt="uniquely")
                .slide
                    .row
                        h3 РАЗУМНО
                        h2 О расширении
                    .row
                        .col
                            h3 Экономим ваше время и деньги
                            p Во избежание пустой сраницы, здесь и на каждой “пустой странице” лучше написать короткий текст-описание, кол-во символов не больше, чем тут, иначе читать не будут.
                            a(href="#").button.button-primary Установить
                            a(href="#").button.button-watch Смотреть видео
                        .col
                            img.screen(src="./img/reasonably.svg", alt="reasonably")
                .slide
                    .row
                        h3 НА ВЕКА
                        h2 О расширении
                    .row
                        .col
                            h3 На века!
                            p Отзывы никто не может удалить или изменить, кроме его создателя.
                            a(href="#").button.button-primary Установить
                            a(href="#").button.button-watch Смотреть видео
                        .col
                            img.screen(src="./img/reliably.svg", alt="reliably")
                .slide
                    .row
                        h3 АНОНИМНОСТЬ
                        h2 О расширении
                    .row
                        .col
                            h3 Анонимность
                            p Каждый отзыв вы можете оставить анонимно либо в открытом виде. В настройках вы можете указать свой инстаграм, телеграм либо любой другой контакт, если захотите.
                            a(href="#").button.button-primary Установить
                            a(href="#").button.button-watch Смотреть видео
                        .col
                            img.screen(src="./img/anonymously.svg", alt="anonymously")
                .slide
                    .row
                        h3 ОТКРЫТОСТЬ
                        h2 О расширении
                    .row
                        .col
                            h3 Открытость
                            p Каждый отзыв вы можете оставить анонимно либо в открытом виде. В настройках вы можете указать свой инстаграм, телеграм либо любой другой контакт, если захотите.
                            a(href="#").button.button-primary Установить
                            a(href="#").button.button-watch Смотреть видео
                        .col
                            img.screen(src="./img/openness.svg", alt="openness")
                .slide
                    .row
                        h3 АНОНИМНОСТЬ
                        h2 О расширении
                    .row
                        .col
                            h3 Анонимность
                            p Каждый отзыв вы можете оставить анонимно либо в открытом виде. В настройках вы можете указать свой инстаграм, телеграм либо любой другой контакт, если захотите.
                            a(href="#").button.button-primary Установить
                            a(href="#").button.button-watch Смотреть видео
                        .col
                            img.screen(src="./img/artificial-Intelligence.svg", alt="artificial-Intelligence")
            .slide-skip
                .chevron
                .chevron
                .chevron
                span.text Прокрутить вниз
            .slide-nav
                .slide-arrows
                .slide-dots
                .slide-counter

        section.section4.full-section
            .row
                .col
                    img.screen(src="./img/cheater.svg", alt="cheater")
                .col
                    h3 Блокируем мошенников
                    .checked
                        img(src="./img/icons/checkbox.svg")
                        p В случае большого количества жалоб со стороны пользователей, принимаем участие в блокировке сайта.
                    .checked
                        img(src="./img/icons/checkbox.svg")
                        p Обращаемся к хостинг провайдеру для блокировки сайта и регистратору домена для блокировки доменного имени.
                    .checked
                        img(src="./img/icons/checkbox.svg")
                        p В случае невозможности блокировки сайта или доменного имени - обращаемся в поисковые системы, такие как Google, Yandex, Bing, Yahoo и др. для исключения сайта из поисковой выдачи.
                    .checked
                        img(src="./img/icons/checkbox.svg")
                        p При попадании пользователя на сайт выводим popup сообщение с предупреждением о возможном мошенничестве.
                    a(href="#").button.button-primary Установить
                    a(href="#").button.button-watch Смотреть видео
        section.section4.full-section
            .row
                .col
                    h3 Блокируем мошенников
                    .checked
                        img(src="./img/icons/checkbox.svg")
                        p В случае большого количества жалоб со стороны пользователей, принимаем участие в блокировке сайта.
                    .checked
                        img(src="./img/icons/checkbox.svg")
                        p Обращаемся к хостинг провайдеру для блокировки сайта и регистратору домена для блокировки доменного имени.
                    .checked
                        img(src="./img/icons/checkbox.svg")
                        p В случае невозможности блокировки сайта или доменного имени - обращаемся в поисковые системы, такие как Google, Yandex, Bing, Yahoo и др. для исключения сайта из поисковой выдачи.
                    .checked
                        img(src="./img/icons/checkbox.svg")
                        p При попадании пользователя на сайт выводим popup сообщение с предупреждением о возможном мошенничестве.
                    a(href="#").button.button-primary Установить
                    a(href="#").button.button-watch Смотреть видео
                .col
                    img.screen(src="./img/openness.svg", alt="openness")
        section.section5.full-section
            .row
                h2 Есть вопросы или предложения?
                h3 Напишите нам, мы будем рады!
                form#callback(action="#")
                    input#name(type="text" name="name" placeholder="Имя" minlength="3" required)
                    input#emailtel(type="text" name="emailtel" placeholder="Почта или телефон" required)
                    textarea#message(type="text" name="message" rows="5" placeholder="Сообщение")
                    input.button.button-primary(type="submit" value="Отправить")
                .info Правовое соглашение 
                    img.screen(src="./img/icons/mail.svg", alt="mail") 
                    span max@klomov.co
                    div Copyright 2019 Все права защищены

        script(src="https://code.jquery.com/jquery-3.4.1.min.js", integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js") 
        script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
        script(src="https://raw.githubusercontent.com/agragregra/start_html/master/_clean_html/libs/waypoints/waypoints.min.js")
        script(src="./js/main.min.js")
        
