doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=1200, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title siteTruth
        link(href="./css/styles.min.css", rel="stylesheet")
        link(href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css", rel="stylesheet")
    body

        //-
        section.section1
            .col
                .search
                    input(placeholder="Начните вводить название сайта")
                ul.search-list
                    li
                        span.num 01
                        span.title apple.com
                        span.like 9 827
                        span.dislike 1 634
                        span.star 98/100
                    li
                        span.num 02
                        span.title amazone.com
                        span.like 325
                        span.dislike 74
                        span.star 98/100
                    li
                        span.num 03
                        span.title amazone.comamazone.com
                        span.like 831
                        span.dislike 1 634
                        span.star 98/100
                    li
                        span.num 04
                        span.title vk.com
                        span.like 9 827
                        span.dislike 58
                        span.star 98/100
                    li
                        span.num 05
                        span.title apple.com
                        span.like 1 237
                        span.dislike 765
                        span.star 98/100
                
                h2 Возможность комментировать все 
                h3 что есть в интернете 
                a(href="#").button.button-primary Установить
                a(href="#").button.button-watch Смотреть видео
                span.union.left
                span.union.right
            .col
                ul.lang
                    li.active RU
                    li EN
                    li UA 

        section.section2.bg-primary
            .row
                img(src="./img/extension.png", alt="smile").extension
                img(src="./img/icons/smile.svg", alt="smile").smile
                img(src="./img/extension.png", alt="smile").extension
            .row
                .col
                    h2 Мы принимаем отзывы более чем <br> c <span>1, 022 954 603</span> сайтов
                    a(href="#") Установить
                .col
                    ul
                        li торговые площадки (конкретные аккаунты, товары <br> и сайты в  целом)
                        li социальные сети (аккаунты, паблики, группы)
                        li интернет-магазины (конкретные товары их группы и магазины в целом)
                        li всевозможные компании и все остальные сайты, все у чего <br> есть ссылка
            .row.slider-logos
                object(type="image/svg+xml" data="./img/logos/vk.svg")
                object(type="image/svg+xml" data="./img/logos/facebook.svg")
                object(type="image/svg+xml" data="./img/logos/youtube.svg")
                object(type="image/svg+xml" data="./img/logos/amazon.svg")
                object(type="image/svg+xml" data="./img/logos/prom.svg")
                object(type="image/svg+xml" data="./img/logos/olx.svg")
                object(type="image/svg+xml" data="./img/logos/aliexpress.svg")
        section.section3.full-section
            .big-slider
                .slide
                    .row
                        h3 УДОБНО
                        h2 О расширении
                    .row
                        .col
                            h3 #[span Удобно.] #[br] Не нужно ничего искать 
                            p Отзывы прямо в расширении браузера.
                            .advantage
                                .box
                                    img(src="./img/icons/sitemap.svg")
                                span Отзывы о любом сайте
                            .advantage
                                .box
                                    img(src="./img/icons/page.svg")
                                span Отзывы о любой странице
                        .col
                            img.screen(src="./img/screen.png", alt="screen")
                            span.union.left
                            span.union.right
                .slide
                    .row
                        h3 НАДЕЖНО
                        h2 О расширении
                    .row
                        .col
                            h3 Невозможно скрыться
                            p Не важно вы хотите оставить отзыв о сайте, о его пользователе или определенной странице, если у этого есть ссылка - вы можете оставить отзыв в нашем расширении.
                            a(href="#").button.button-primary Установить
                            a(href="#").button.button-watch Смотреть видео
                        .col
                            img.screen(src="./img/man-server.svg", alt="man-server")
                .slide
                    .row
                        h3 УНИКАЛЬНО
                        h2 О расширении
                    .row
                        .col
                            h3 #[span Таких] #[br] продуктов больше нет на рынке. 
                            p Отзывы прямо в расширении браузера.
                            .advantage
                                .box
                                    img(src="./img/icons/sitemap.svg")
                                span Отзывы о любом сайте
                            .advantage
                                .box
                                    img(src="./img/icons/page.svg")
                                span Отзывы о любой странице
                        .col
                            img.screen(src="./img/uniquely.svg", alt="uniquely")
                .slide
                    .row
                        h3 РАЗУМНО
                        h2 О расширении
                    .row
                        .col
                            h3 Экономим ваше время и деньги
                            p Во избежание пустой сраницы, здесь и на каждой “пустой странице” лучше написать короткий текст-описание, кол-во символов не больше, чем тут, иначе читать не будут.
                            a(href="#").button.button-primary Установить
                            a(href="#").button.button-watch Смотреть видео
                        .col
                            img.screen(src="./img/reasonably.svg", alt="reasonably")
                .slide
                    .row
                        h3 НА ВЕКА
                        h2 О расширении
                    .row
                        .col
                            h3 На века!
                            p Отзывы никто не может удалить или изменить, кроме его создателя.
                            a(href="#").button.button-primary Установить
                            a(href="#").button.button-watch Смотреть видео
                        .col
                            img.screen(src="./img/reliably.svg", alt="reliably")
                .slide
                    .row
                        h3 АНОНИМНОСТЬ
                        h2 О расширении
                    .row
                        .col
                            h3 Анонимность
                            p Каждый отзыв вы можете оставить анонимно либо в открытом виде. В настройках вы можете указать свой инстаграм, телеграм либо любой другой контакт, если захотите.
                            a(href="#").button.button-primary Установить
                            a(href="#").button.button-watch Смотреть видео
                        .col
                            img.screen(src="./img/anonymously.svg", alt="anonymously")
                .slide
                    .row
                        h3 ОТКРЫТОСТЬ
                        h2 О расширении
                    .row
                        .col
                            h3 Открытость
                            p Каждый отзыв вы можете оставить анонимно либо в открытом виде. В настройках вы можете указать свой инстаграм, телеграм либо любой другой контакт, если захотите.
                            a(href="#").button.button-primary Установить
                            a(href="#").button.button-watch Смотреть видео
                        .col
                            img.screen(src="./img/openness.svg", alt="openness")
                .slide
                    .row
                        h3 АНОНИМНОСТЬ
                        h2 О расширении
                    .row
                        .col
                            h3 Анонимность
                            p Каждый отзыв вы можете оставить анонимно либо в открытом виде. В настройках вы можете указать свой инстаграм, телеграм либо любой другой контакт, если захотите.
                            a(href="#").button.button-primary Установить
                            a(href="#").button.button-watch Смотреть видео
                        .col
                            img.screen(src="./img/artificial-Intelligence.svg", alt="artificial-Intelligence")
            .slide-nav
                .wrapper
                    .slide-arrows
                    .slide-dots
                    .slide-counter

        section.section4.full-section

        
        
        section.section5.full-section

        script(src="https://code.jquery.com/jquery-3.4.1.min.js", integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", crossorigin="anonymous")
        script(src="./js/main.min.js")
        script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
