include mixins

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title siteTruth
        link(href="./css/styles.min.css", rel="stylesheet")
        link(href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css", rel="stylesheet")
    body

        section.section1
            .col
                .search
                    input(placeholder="Начните вводить название сайта")
                ul.search-list
                    li
                        span.num 01
                        span.title apple.com
                        span.like 9 827
                        span.dislike 1 634
                        span.star 98/100
                    li
                        span.num 02
                        span.title amazone.com
                        span.like 325
                        span.dislike 74
                        span.star 98/100
                    li
                        span.num 03
                        span.title amazone.comamazone.com
                        span.like 831
                        span.dislike 1 634
                        span.star 98/100
                    li
                        span.num 04
                        span.title vk.com
                        span.like 9 827
                        span.dislike 58
                        span.star 98/100
                    li
                        span.num 05
                        span.title apple.com
                        span.like 1 237
                        span.dislike 765
                        span.star 98/100
                
                h2 Возможность комментировать все 
                h3 что есть в интернете 
                a(href="#").button.button-primary Установить
                a(href="#").button.button-watch Смотреть видео
                span.union.left
                span.union.right
            .col
                ul.lang
                    li.active RU
                    li EN
                    li UA
                a(href="#").button.button-white-outline Вход
                a(href="#").button.button-white Регистрация

        section.section2.bg-primary
            .row
                img(src="./img/extension.png", alt="smile").extension
                img(src="./img/icons/smile.svg", alt="smile").smile
                img(src="./img/extension.png", alt="smile").extension
            .row
                .col
                    h2 Мы принимаем отзывы более чем <br> c <span>1, 022 954 603</span> сайтов
                    a(href="#") Установить
                .col
                    ul
                        li торговые площадки (конкретные аккаунты, товары <br> и сайты в  целом)
                        li социальные сети (аккаунты, паблики, группы)
                        li интернет-магазины (конкретные товары их группы и магазины в целом)
                        li всевозможные компании и все остальные сайты, все у чего <br> есть ссылка
            .row.slider-logos
                .slide
                    img(src="./img/logos/vk.png", alt="vk")
                    img(src="./img/logos/aliexpress.png", alt="aliexpress")
                    img(src="./img/logos/youtube.png", alt="youtube")
                    img(src="./img/logos/prom.png", alt="prom")
                    img(src="./img/logos/olx.png", alt="olx")
                    img(src="./img/logos/amazon.png", alt="amazon")
                    img(src="./img/logos/fb.png", alt="fb")
                .slide
                    img(src="./img/logos/vk.png", alt="vk")
                    img(src="./img/logos/aliexpress.png", alt="aliexpress")
                    img(src="./img/logos/youtube.png", alt="youtube")
                    img(src="./img/logos/prom.png", alt="prom")
                    img(src="./img/logos/olx.png", alt="olx")
                    img(src="./img/logos/amazon.png", alt="amazon")
                    img(src="./img/logos/fb.png", alt="fb")

        section.section3.full-section
            .row
                h3 УДОБНО
                h2 О расширении
            .row
                .col
                    h3 <span>Удобно.</span><br> Не нужно ничего искать 
                    p Отзывы прямо в расширении браузера.
                    .advantage
                        .box
                            img(src="./img/icons/sitemap.svg")
                        span Отзывы о любом сайте
                    .advantage
                        .box
                            img(src="./img/icons/page.svg")
                        span Отзывы о любой странице
                .col
                    img(src="./img/screen.png", alt="screen").screen

            +section-controllers('01')

        section.section4.bg-primary.full-section
            .row
                h3 НАДЕЖНОСТЬ
                h2 О расширении
            .row
                .col
                    h3 <span>Удобно.</span><br> Не нужно ничего искать 
                    p Отзывы прямо в расширении браузера.
                    .advantage
                        .box
                            img(src="./img/icons/sitemap.svg")
                        span Отзывы о любом сайте
                    .advantage
                        .box
                            img(src="./img/icons/page.svg")
                        span Отзывы о любой странице
                .col
                    img(src="./img/screen.png", alt="screen")

            +section-controllers('02')

        section.section5.full-section

        section.section6.bg-primary.full-section

        section.section7.full-section

        section.section8.bg-primary.full-section

        section.section9.full-section

        section.section10.bg-primary.full-section

        section.section11

        section.section12.bg-primary

        section.section13


        script(src="https://code.jquery.com/jquery-3.4.1.min.js", integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", crossorigin="anonymous")
        script(src="./js/main.min.js")
        script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
