<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title siteTruth
        link(href="./css/styles.min.css", rel="stylesheet")
    body(style="padding: 10px; min-height: 200vh")
        a(href="#").button.button-primary Установить
        br
        br
        a(href="#").button.button-watch Смотреть видео
        br
        br
        div(style="background: #FF7663; padding: 30px")
            a(href="#").button.button-white-outline.active Вход
            a(href="#").button.button-white Регистрация
        br
        br
        .checked
            img(src="./img/icons/checkbox.svg", alt="checkbox")
            p “В случае большого количества жалоб со стороны <br> пользователей, принимаем участие в блокировке сайта.

        script(src="./js/main.min.js")
