mixin section-controllers(num)
    .section-controllers
        .arrows
            span.arrow.left
            span.arrow.right

        .dots
            span.dot.active
            span.dot
            span.dot
            span.dot
            span.dot
            span.dot
            span.dot
            span.dot
        
        .num
            span.active= num
            span.all /08